### Compiled class file ###
*.class

### Log file ###
*.log

### BlueJ files ###
*.ctxt

### Mobile Tools for Java (J2ME) ###
.mtj.tmp/

### Package Files ###
#*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

### virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml ###
hs_err_pid*

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### Vscode

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.clover

### BUILD ###
target/
bin/
deploy/
**/min/

### TMP ###
*.tmp

### TEST ###
logs
tmp
*.db

### MAC FILE ###
.DS_Store

._*
logging\.path_IS_UNDEFINED/

### Mongodb container data ###
mongodb-container-data
