<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<header th:fragment="header">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Test</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.0.0-2/css/bootstrap.css}">
    <link rel="stylesheet" th:href="@{/webjars/select2/4.0.6-rc.1/dist/css/select2.css}">
    <link rel="stylesheet" th:href="@{/webjars/select2-bootstrap-theme/0.1.0-beta.10/dist/select2-bootstrap.css}">
    <link rel="stylesheet" th:href="@{/webjars/font-awesome/4.7.0/css/font-awesome.min.css}">
    <link rel="stylesheet" th:href="@{/webjars/AdminLTE/2.4.2-1/dist/css/AdminLTE.min.css}">
    <link rel="stylesheet" th:href="@{/webjars/AdminLTE/2.4.2-1/dist/css/skins/_all-skins.min.css}">

    <script th:src="@{/webjars/jquery/3.3.1-1/jquery.js}"></script>
    <script th:src="@{/webjars/bootstrap/4.0.0-2/js/bootstrap.js}"></script>

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
</header>
</html>